@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  width: 100sw;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 24;
}

.dark .custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #7e22ce #0f172a;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #bae6fd #0c6690;
}

.hidden-scrollbar {
  scrollbar-width: none;
}
